<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.wt.HomeSelector"
      android:versionCode="1"
      android:versionName="1.0">
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"></uses-permission>
<uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE"></uses-permission>


    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS"></uses-permission>
    	
        <activity android:name="HomeSelectorAct" android:label="@string/app_name" android:multiprocess="false" android:finishOnTaskLaunch="true" android:clearTaskOnLaunch="true" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="MockHome" android:enabled="false" android:label="MockHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.HOME"></category>
            </intent-filter>
        </activity>
        
		
    </application>
</manifest>